/*
 * CONSULT
 *
 * A note on sizing - the tablet's browser size is:
 * - 2/3 screenwidth: 841 px by 696 px
 */


 body { /* Copied from bootstrap.min.css and adjusted */
    font-family: Verdana,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/* Mast Logos and Stuffs */
#consult-logo {
  margin-top: 10px;
	height: 50px;
}

#versionString {
  position: relative;
  top: 25px;
  left: 5px;
  color: #ed6d41;
  font-weight: 500;
}

#epsrc-logo {
  margin-top: 0px;
	margin-bottom: 3px;
	margin-right: 7px;
	height: 56px;
  border-width: 8px;
  border-style: solid;
  border-color: white;
}

#kcl-logo {
  margin-top: 0px;
	margin-bottom: 3px;
	margin-right: 8px;
	height: 56px;
}

/* Less of a marging between navbar and content */
.navbar {
  margin-bottom: 14px;
}


/* Active Navbar Link */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #4a4a4a;
  background-color: #FFE5D1;
}

/* White Navbar Text Color */
.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #ed6d41;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
  background-color: #ed6d41;
}

/* Individual Navbar Buttons Spacing */
/* Size Navbar to some-what equal elements */
.nav > li {
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #f8f8f8;
  min-width: 92px;
}

/* Give the Debug Panel some space */
.debug.well {
  margin-top: 25px;
}

/* Mood Grid Image Sizes */
#mood-grid img {
    width: 125px;
    height: 125px;
}

/* Intervention */
#intervention-options a {
  font-size: 18px; /* Smaller to fit in 800px */
}

#intervention-options li.active a {
  background-color: rgb(237, 109, 65);
}

/* PHQ2/9 Forms Fatter radio Buttons */
div.radio {
  margin-bottom: 22px;
  margin-left: 26px;
}
div.radio span {
  margin-left: 10px;
}
input[type="radio"] {
  transform: scale(2.0);
  margin-top: 10px;
}

/* Style Plots */

/* Global Font Size */
.c3 text {
  font-size: 15px;
}

/* Blood Pressure */
#plotBP .c3-line-sbp {
  stroke-width: 3px;
}

#plotBP .c3-line-dbp {
  stroke-width: 3px;
}

/* Heart Rate */
#plotHR .c3-line-hr {
  stroke-width: 3px;
}

#plotHR .c3-line-resting {
  stroke-width: 3px;
}

#plotHR .c3-line-activity {
  stroke-width: 3px;
}

/* ECG */
#plotECG .c3-line-ecg {
  stroke-width: 3px;
}
