shiny
shinyjs
jsonlite
dplyr
tidyverse
anytime
htmlwidgets
httr
humanize
devtools

# Install local packages from repo:
#
# C3 custom htmlwidgets
#    > setwd("dashboard/packages/C3")
#    > install()
#
