@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background-color: rgb(255,255,255);
  font-family: 'Roboto', sans-serif;
  /*color: #ad1d28; */
}

/* Navbar Background */
.navbar {
  background-color: rgb(255,255,255);
  color: rgb(144,69,76)
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: rgb(144,69,76);
    background-color: rgb(255,228,210);
}

.skin-blue .main-header .logo {
    background-color: rgb(237,109,65);
    color: #fff;
    border-bottom: 0 solid transparent;
}

.skin-blue .main-header .navbar {
    background-color: rgb(255,228,210);
}

#pageHeader {
    color: rgb(237,109,65);
}

/*
Taskbar: orange pastel rgb(237,109,65)
	text: white
Background middle: grey rgb(186,186,196)
Shadow: dark purple rgb(64,53,92)
Peach: rgb(255,228,210)
text on peach: (rust) 	rgb(144,69,76)
	oder background grey	rgb(87,86,106)
Orange bright: rgb(243,143,45)
Green bright:  rgb(110,196,0)
Red bright: rgb(255,39,41)
	text: all white
KCL red: rgb(254,38,41)
*/
